//
//  Base_Config.xcconfig
//  ifengus_v20
//
//  Created by Winda Wei on 2/4/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//BaseInfo
APP_NAME = ifengus
BASE_URL = https:\/\/www.ifengus.com

//private key
ApiToken = hiRNzRjQ!x2x@H@X
