/*css reset*/

/*css reset 结束*/

/*导航样式开始*/
.navbar-default {
	background: #ffffff;
	box-shadow: 0 0px 3px #a1a1a1;
	-webkit-box-shadow: 0 0px 3px #a1a1a1;
	-moz-box-shadow: 0 0px 3px #a1a1a1;
	-o-box-shadow: 0 0px 3px #a1a1a1;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	margin: 0;
}
.navbar-header {
	z-index: 99;
	position: relative;
}
.navbar-brand {
	height: auto;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	color: #333333;
	font-size: 19px;
	font-family: 'Montserrat', "Microsoft Yahei", sans-serif;
	font-weight: 700;
	margin: 0 0 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	color: #333333 !important;
	padding: 27px 15px;
	letter-spacing: 2.5px;
	z-index: 2;
}
.navbar-brand span {
	color: #E60012;
}
.navbar-nav {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding: 0 0 0 5%;
	
}
.navbar-nav > li > a {
	color: #fff !important;
	font-size: 14px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding: 0 0 0 35px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a.active {
	color: #fff !important;
}
.navbar-nav li.drop {
	position: relative;
}
.navbar-nav li:hover ul.drop-down {
	opacity: 1;
	display: block;
}
.navbar-nav li.search {
	position: inherit;
}
.top-line {
	padding: 10px 0;
	background: #fff;
	border-bottom: 1px solid #f3f3f3;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	overflow: hidden;
	
}
.top-line ul.info-list {
	margin: 0;
	padding: 0;
	float: left;
}
.top-line ul.info-list li {
	display: inline-block;
	color: #333;
	font-size: 14px;
}
.top-line ul.info-list li i {
	color: #E60012;
	font-size: 16px;
	margin-right: 10px;
}
.top-line ul.social-icons {
	margin: 0;
	padding: 0;
	text-align: right


}
.top-line ul.social-icons li {
	display: inline-block;
	margin-left: 9px;
	line-height:45px;
	height:45px;
}
.top-line ul.social-icons li a {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-size: 14px;
	color: #333;
	text-align:center;
	
}
.top-line ul.social-icons li a:hover {
	color: #E60012;
}
header.active .top-line {

}
.navbar-collapse {
	position: relative;
	background: #f24548;
}
ul.drop-down {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 230px;
	top: 100%;
	left: 0;
	padding: 10px 0;
	border-top: 2px solid #E60012;
	opacity: 0;
	display: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	background: rgba(255, 255, 255, 0.98);
}
ul.drop-down li {
	display: block;
}
ul.drop-down li a {
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	display: block;
	color: #333333;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;

}
ul.drop-down li a:hover {
	color: #E60012;
	background: #eee;
}
.form-search {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 4px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-box-shadow:0px 2px 8px #8C8C8C; 
	-webkit-box-shadow:0px 2px 8px #8C8C8C; 
	box-shadow:0px 2px 8px #8C8C8C;
	border-bottom: 1px solid #3e3f64;
}
.form-search input[type="search"] {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin: 0 0 10px;
	margin: 0;
	color: #333333;
	padding: 8px 10px;
	border: none;
	width: 100%;
	outline: none;
	background: transparent;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.form-search button {
	background: transparent;
	border: none;
	float: right;
	margin-top: -30px;
	margin-right: 10px;
	position: relative;
	z-index: 2;
}
.form-search button i {
	color: #E60012;
	font-size: 16px;
}
.form-search.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.top-line ul.info-list li {
	font-size: 14px;
	line-height:45px;
	height:45px;
}
.navbar-brand {
	padding: 0px 20px 0px 0px;
}
.navbar-brand .logo-m {
	display: none;
}
.navbar-brand .logo {
	max-height: 45px;
}
.navbar-nav > li > a {
	padding: 15px 15px;
}
ul.drop-down {
	width: 180px;
	-moz-box-shadow:0px 2px 8px #8C8C8C; 
	-webkit-box-shadow:0px 2px 8px #8C8C8C; 
	box-shadow:0px 2px 8px #8C8C8C;
	border-bottom: 2px solid #3e3f64;

}
.navbar-default .navbar-nav > li > a {
	color: #ffffff!important;
}
.navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff!important;
}
.navbar-nav .drop-down .Lev2 {
	position: relative;
}
.navbar-nav .drop-down .sub-menu3 {
	display: none !important;
}
.navbar-nav .drop-down .Lev2:hover .sub-menu3 {
	display: block !important;
	left: 100%;
	top: 0!important;
	margin-top: -12px!important;
}

.headpic {
	width:20px;
	height:20px; 
	border-radius:50%; 
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

/*图*/

.tu{
  border: #fff solid 5px;
  overflow: hidden;
}

.tu #web_bg{
  cursor: pointer;
  transition: all 0.6s;
  max-width: 100%;
}

.tu #web_bg:hover{
  transform: scale(1.4);
}   
				
#web_bg{

  width:100%; 
  padding-bottom: 80%; 
  background-color: #fff;  
  background-repeat: no-repeat;  
  background-size: cover;  
  -webkit-background-size: cover;  
  -o-background-size: cover;  
  background-position: center 0;
}			

.campaign-nav-grid{
   
}

.campaign-nav-grid h4{
  padding-left: 10px;
  padding-right: 10px;
 text-align: left;
 color: #666; 
 height:50px;
}

.mediamember{
 width:80px; 
 float:left;
 text-align: center;
 height:100px;
 margin: 5px;
}


/*导航样式结束*/
/* 响应式样式开始 */


@media (min-width:1025px) {
.navbar-header{
	display: none !important;
}
#content-container{
	margin-top: 60px;
}

.m-menu{
	display: none !important;
}
}



@media (max-width : 1024px) {

body {
	word-break: break-all;
	word-wrap: break-word
}
.topbar-left {
	float: left;
}
.topbar-right {
	float: right;
}
.top-line ul.info-list li {
}
.navbar-toggle {
	display: block !important;
	margin: 15px;
	padding: 7px 6px;
	border: 1px #ddd solid;
	border-radius: 5px;
}
.navbar-toggle .icon-bar {
	width: 18px;
}
#bs-example-navbar-collapse-1 {
	display: none !important;
}
.navbar .navbar-header {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
#mmenu {
	border-left: 1px #E5E5E5 solid;
	z-index: 9999;

}
#mmenu .mmDiv {
	padding-top: 20px;
}
#mmenu .mm-title {
	padding: 12px 0 11px;
}
#mmenu .mm-search-form {
	margin: 0;
}
#mmenu .mm-search {
	position: static;
	padding-left: 0;
	margin-top: 10px;
	padding-right: 0;
	margin-bottom: -17px;
}
#mmenu .mm-search .side-mm-keyword {
	max-height: 32px;
	height: 32px;
	padding: 0 16px;
}
#mmenu .noblock {
	display: inline !important;
	padding: 10px;
}
#mmenu .MMhead {
	line-height: 2.8;
	border-bottom: 1px #E5E5E5 solid;
	margin: 0 -20px;
	padding-left: 10px;
}
#mmenu .MMhead a {
	background: none;
}
#mmenu .mm-header .mm-title {
	top: -10px;
	font-size: 14px;
}
#mmenu a {
	color: #333;
	font-size: 14px;
}
#mmenu a:hover, #mmenu a:active {
	color: #AF7F48
}
#mmenu .mm-listview > li > a, #mmenu .mm-listview > li > span {
	padding: 10px 10px 10px 20px;
}

.top-line {
	display: none;
}
.navbar-brand .logo {
	max-height: 45px;
	padding-top: 10px;
	padding-left: 20px
}

.zh_click{
	height: 55px;
	line-height:55px;
}
#content-container{
	margin-top: 0px;
}
.membernav{
	display: none !important;
}

.w-menu{
	display: none !important;
}

}


/* 响应式样式结束 */
