/*www.ssatweb.com - APP style*/
html,body {
	font-family:sans-serif, Century Gothic, \5FAE\8F6F\96C5\9ED1,\5E7C\5706, Arial, Verdana,'Microsoft YaHei' !important;
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	max-width: 740px !important;
	margin: 0 auto;
	background-color: #f5f5f5;
}
ol, ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	box-sizing: border-box;
	border: none;
	background: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	display: block;
	padding: 0px;
	margin: 0;
	width: 100%;
	height: 43px;
	color: #000;
	font-size: 14px !important;
	font-family: inherit;
}
.panel-overlay {
	background: rgba(0, 0, 0, 0.4) !important;
	opacity: 1 !important;
}
/*icon style*/
.icons {
	width:44px;
	height:44px;
	background: url("../img/icon-ssatweb.png");
}
.icons .isoso{width:44px; height:44px; background-position: 0 0;}
.icons .idowns{width:35px; height:35px; background-position: -48px 0;}
.icon-search {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 5px;
	font-family: inherit;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	padding: 0 18px;
	background-color:none;
	background-repeat: no-repeat;
	background-position: 8px center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2013'%20enable-background%3D'new%200%200%2013%2013'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffffff'%20d%3D'M5%2C1c2.2%2C0%2C4%2C1.8%2C4%2C4S7.2%2C9%2C5%2C9S1%2C7.2%2C1%2C5S2.8%2C1%2C5%2C1%20M5%2C0C2.2%2C0%2C0%2C2.2%2C0%2C5s2.2%2C5%2C5%2C5s5-2.2%2C5-5S7.8%2C0%2C5%2C0%20L5%2C0z'%2F%3E%3C%2Fg%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-miterlimit%3D'10'%20x1%3D'12.6'%20y1%3D'12.6'%20x2%3D'8.2'%20y2%3D'8.2'%2F%3E%3C%2Fsvg%3E");
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}
.ilike{
	width:30px; height:16px;background: url("../img/icon-like.png") left center no-repeat;
	background-size: 16px;
	display:inline-block;
	font-size: 12px;
	/*margin-top: 12px;*/
	padding:0 5px 0 18px;
	line-height: 16px;
	float: left;
}
.ilook{
	width:30px; height:16px;background: url("../img/icon-look.png") left center no-repeat;
	background-size: 16px;
	display:inline-block;
	/*margin-top: 12px;*/
	padding:0 5px 0 18px;
	line-height: 16px;
	font-size: 12px;
	float: left;
}
.inote{
	width:30px; height:16px;background: url("../img/icon-note.png") left center no-repeat;
	background-size: 16px;
	display:inline-block;
	/*margin-top: 12px;*/
	padding:0 5px 0 18px;
	line-height: 16px;
	float: left;
	font-size: 12px;
}
.imessage{
	width:30px; height:30px;background: url("../img/icon-message.png") left center no-repeat;
	background-size: 30px;
	display:inline-block;
	margin: 8px 5px 0 5px;
	line-height: 20px;
}
.imessage-c{
	width:30px; height:30px;background: url("../img/icon-message.png") left center no-repeat;
	background-size: 30px;
	display:inline-block;
	vertical-align: middle;
	line-height: 20px;
}
.imessage-w{
	width: 30px;
    height: 30px;
    background: url("../img/icon-message-white.png") left center no-repeat;
    background-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 5px 5px;
    line-height: 20px;
}

/*2018.7.25学锟斤拷锟斤拷息 锟睫革拷学校*/
.xqchangepen {
    background: url(../img/icon-message.png) center no-repeat;
    display: block;
    /*padding: 8px 10px;*/
    width: 30px;
    background-size: 30px;
    margin: auto;    
}
.xqchangepeninp{
	width: 30px;
	margin: auto;
	border:none;
	opacity: 0;
}


.share1{
	width:20px; height:40px;background: url("../img/icon-share1.png") center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 auto;
	line-height: 40px;

}
.share2{
	width:20px; height:40px;background: url("../img/icon-share2.png") center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 auto;
	line-height: 40px;

}
.sharefacebook{
	width:20px; height:40px;background: url("../img/icon-share4.png") center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 auto;
	line-height: 40px;

}
.shareline{
	width:30px; height:40px;background: url("../img/icon-share3.png") center no-repeat;
	background-size: 30px;
	display:inline-block;
	padding:0 auto;
	line-height: 40px;

}
.shareline2{
	width:20px; height:34px;background: url("../img/icon-share3-2.png") center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 auto;
	line-height: 40px;
}
.share3{
	width:20px; height:40px;
	display:inline-block;
	padding:0 auto;
	font-size: large;
	line-height: 40px;

}
.share1-1{
	width:80px; height:40px;background: url("../img/icon-share1.png") left center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 0 0 25px;
	line-height: 40px;

}
.fa-sign-o{
	width:64px; height:40px;background: url("../img/sign_01.png") left center no-repeat;
	background-size: 64px;
	display:inline-block;
	padding:0 0 0 0px;
	line-height: 40px;

}
.fa-sign{
	width:64px; height:40px;background: url("../img/sign_02.png") left center no-repeat;
	background-size: 64px;
	display:inline-block;
	padding:0 0 0 0px;
	line-height: 40px;

}
.share2-1{
	width:80px; height:40px;background: url("../img/icon-share2.png") left center no-repeat;
	background-size: 20px;
	display:inline-block;
	padding:0 0 0 25px;
	line-height: 40px;

}

.col-100.line-height-30.savesearch {
	width: 33%;
position: absolute;
right: 2%;top: 45px;

}
.col-100.line-height-30.savesearch a.button {
 
	height: 30px;
font-size: 12px;

}

.guapai {margin: 10px 10px;padding: 0 10px;
 color: #FFFFFF;
 height: 25px;
 position: absolute;
line-height: 25px;
color:#78BF84;
right: 0;
z-index: 100;
}

.guapai input {
margin-right: 5px;
cursor: Auto;
}

.guapai a {
 margin: 10px 10px;
 padding: 0 10px;
border-radius: 30px;
background: rgba(80,117,180,0.8);
}

.icons-article{
	width:25px; height:25px;background: url("../img/icons-article.png") left center no-repeat;
	background-size: 25px;
	display:inline-block;
	padding:0 0 0 25px;
	line-height: 40px;

}
.edittime{
	min-width:80px; height:16px;
	display:inline-block;
	right: 0;
	/*position: relative;*/
	float: right;
	text-align: right;
	/*margin-top: 12px;*/
	line-height: 16px;
}
/*article list*/
.col-98 {width:100%;margin:15px 10px 0 10px}
.font-bold{
	font-weight: 600;
}
.bordernone{
	border: none !important;
}
.w33{width: 33% !important;}
.m-t-15 { margin-top: 15px;}
.t-44 { top: 44px !important;}
.m-t-0 { margin-top:0;}
.m-t-10 { margin:10px 0;}
.m-t-8 { margin:8px 0;}
.m-t-01 { margin-top:10px;}
.m-l-0 {margin-left: 0px !important;}
.m-l-5 {margin-left: 5px;}
.m-l-10 {margin-left: 10px;}
.m-l-15 {margin-left: 15px;}
.m-l-40 {margin-left: 40px !important;	-webkit-margin-start: 40px !important;}

.m-r-5 {margin-right: 5px;}
.m-r-10 {	margin-right: 10px;}
.m-r-20 {	margin-right: 20px;}
.m-b-0 {	margin-bottom:0 !important;}
.m-b-10 {	margin-bottom:10px !important;}
.m-b-40 {	margin-bottom:40px !important;}
.p-l-5 { padding-left: 5px;}
.p-l-10 { padding-left: 10px;}
.p-l-15 { padding-left: 15px;}
.p-l-25 { padding-left: 25px;}
.p-l-0{padding-left:0 !important;}
.p-b-10 { padding-bottom:10px;}
.p-lr-5 { padding:0 5px;}
.borderbot{ border-bottom: 1px solid #ebebeb}
.bordertop{ border-top: 1px solid #ebebeb}

.inline-block {display: inline-block;}
.line-height-40{ line-height: 40px}

.font-size-7 { font-size: 7px !important;}
.font-size-10{ font-size: 10px !important;}
.font-size-12{ font-size: 12px !important;}
.font-size-14{ font-size: 14px !important;}
.font-size-16{ font-size: 16px !important;}
.font-size-20{ font-size: 20px !important;}
.font-size-22{ font-size: 22px !important;}
.font-size-30{ font-size: 30px !important;}

.text-right { text-align: right }
.bg-blue2 { background-color: #5075b4 !important;}
.bg-darkgray { background-color: #dcdcdc !important;}
.border-radius-44{ border-radius: 44px }
.border-radius-3{ border-radius: 3px }
.item-logo{
	width: 260px;
	position: relative;
	height: 100px;
}
.erweima{
	width: 100%;
	padding: 0;
	margin: 0;
	/*position: relative;*/
	text-align: center;
	display: inline-block;
}
.erweima img{
	margin-top: 40px;
	width: 140px;
	height: 140px;
}

.erweima table{
	margin-top: 40px;
	width: 140px;
	height: 140px;
}
.erweima .text{
	margin-bottom: 40px;
	line-height: 40px;
}
.item-logo img{
	width: 80px !important;
	margin-left: -40px;
	left: 50%;
	position: absolute;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
}

.item-logo3 img{
	width: 80px !important;
	margin-left: -40px;
	left: 50%;
	position: absolute;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.item-logo2 img{
	width: 80px !important;
	margin-left: -40px;
	left: 50%;
	position: absolute;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 5px solid #cccccc;
}
.item-logo2,.item-logo3{
	width: 100%;
	position: relative;
	height: 100px;
	padding: 10px 0 0 0;
}
.item-name{
	width: 260px;
	position: relative;
	height: 20px;
	line-height:20px;
	font-size: larger;
	text-align: center;
	color: #333;
}
.item-name2{
	width: 100%;
	position: relative;
	height: 60px;
	line-height:40px;
	font-size: larger;
	text-align: center;
	color: #333;
}
.radiusbox2{
	margin-top: 10px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 16px;
	position: absolute;
	left:50%;
	margin-left: -75px;
	display: block;
	padding: 0 20px 0 5px;
	text-align: center;
	width: 120px;
	color: #f5f5f5 !important;
	border-radius: 35px;
	/*background: #496696;*/
	background: url('../img/icon-down.png') right 10px center no-repeat  #18a7e7 ;
	background-size: 35px;
	cursor: pointer;
	border: none;
	font-style: normal;
}
.content-block2 {
	margin: 35px 0;
	padding: 0 0px;
	color: #6d6d72;
	box-sizing: border-box;
}

.content-block .mesbox-sm {
	margin: 5px 0 0 0;
	height: 35px;
	line-height: 35px;
	padding: 5px 10px;
	width: 100% ;
	color: #6d6d72;
	box-sizing: border-box;
}.content-block .mesbox-sm2 {
	 margin: 5px 0;
	 height: 70px;
	 line-height: 25px;
	 padding: 5px 10px;
	 width: 100% ;
	 color: #6d6d72;
	 box-sizing: border-box;
 }
.picker-items {
	font-size: 16px !important;
}
.navbar:after {
	height: 0 !important;
}
.navbar,
.toolbar,
.subnavbar {
	background: #5075b4;
}
.navbar-inner{

	padding: 0 0 !important;
}
.toolbar-inner{
	padding: 0 8px !important;
}
.bg-white{ background: #ffffff !important;}
.content-block {
	margin: 10px 0 !important;
}

.content-block3 {
	margin: 2px 0 !important;
}
.leftmenusmall ul.menu li a i {
	width: 30px !important;
	margin-left: 10px !important;
}
.leftmenusmall ul.menu li .smallClass {
	width: 80% !important;
	margin-left: 20% !important;
}
.searchbar {
	background:none !important;
}
.searchbar .searchbar-input {
	width: 100%;
	height: 28px;
	position: relative;
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
	flex-shrink: 1;
	z-index: 99;
}
.searchbar .searchbar-input2 {
	width: 88% !important;
	height: 28px;
	position: relative;
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
	flex-shrink: 1;
	z-index: 99;
	margin-top: 8px !important;
}
.searchbar input[type="search"] {
	width: 100%;
	height: 100%;
	border-radius: 28px !important;
	z-index: 99;
}
.searchbar .searchbar-clear {
	position: absolute;
	width: 18px;
	height: 18px;
	right: 5px;
	top: 5px;
	opacity: 1;
	color: #fff;
	border-radius: 24px;
	background-color: #8c8c8c;
	cursor: pointer;
	display: inline-block;
	z-index: 999;
}
.searchbar .searchbar-clear2{
	position: absolute;
	width: 18px;
	height: 18px;
	right: 5px;
	top: 5px;
	opacity: 1;
	color: #fff;
	border-radius: 24px;
	background-color: #8c8c8c;
	cursor: pointer;
	display: inline-block;
	z-index: 999;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2028'%3E%3Ccircle%20cx%3D'14'%20cy%3D'14'%20r%3D'14'%20fill%3D'%238e8e93'%2F%3E%3Cline%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'8'%20y1%3D'8'%20x2%3D'20'%20y2%3D'20'%2F%3E%3Cline%20fill%3D'none'%20stroke%3D'%23ffffff'%20stroke-width%3D'2'%20stroke-miterlimit%3D'10'%20x1%3D'20'%20y1%3D'8'%20x2%3D'8'%20y2%3D'20'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 18px;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
	cursor: pointer;
}
.searchbar .searchbar-cancel {
	font-size: 15px;
}
.searchbar .searchbar-search {
	font-size: 15px;
}
.searchbar:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 0 !important;
	width: 100%;
	background-color: #DDDDDD;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.searchbar-cancel.active{
	position: absolute;
	height: 44px;
	line-height: 44px;
	color: #333;
	right: 10px;
	top: 0;
	z-index: 999;
	display: inline-block;
}
.searchbar-search.active{
	position: absolute;
	height: 44px;
	line-height: 44px;
	color: #333;
	right: 10px;
	top: 0;
	z-index: 999;
	display: inline-block;
}
.searchbar-search.active2{
	position: absolute;
	height: 44px;
	line-height: 44px;
	color: #fff;
	right: 10px;
	top: 0;
	z-index: 999;
	margin-right: 0px !important;
	display: inline-block;
}
.searchbar-cancel.active2{
	position: absolute;
	height: 44px;
	line-height: 44px;
	color: #fff;
	right: 10px;
	top: 0;
	z-index: 999;
	margin-right: 0px !important;
	display: inline-block;
}
.search-title{
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	color: #222222;
	font-size: 15px;
	background-color: #eeeeee;
	font-weight: 600;
}
.hot-block{
	list-style: none;
	margin: 0 10px;
	padding: 0 0 10px 0;
}
.hot-block li{
	color: #222222;
	font-size: 15px;
	padding:0 20px;
	margin: 10px 10px 0 0;
	line-height: 35px;
	min-width: 40px;
	border-radius: 35px;
	background-color: #eeeeee;
	display: inline-block;
	cursor: pointer;
}
.history-clear {
	position:relative;
	width: 60px;
	color: #5075b4;
	cursor: pointer;
	display: inline-block;
	text-align: right;
	font-weight: 300;
}
.list-block2 {
	margin: 0 0  15px 0;
	font-size: 15px;
}
.list-block .item-title.label2 {
	width: 8%;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
}
.list-table{
	width:calc(25% - 10px);
	margin-right: 10px;
	background: #bcbcbc;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
}
.list-table.active{
	background: #7bb3fa !important;
}
@media only screen and (max-width:322px ) {
	/*.maintitle {*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
	/*max-height: 25px;*/
	/*}*/
	.ilook{
		display: none !important;
	}
}
.pointer{ cursor: pointer}
a.link-black{
	color: #222222;
}
a.link-black:hover{
	color: #5075b4;
}
a.icon-left {
	min-width: 44px;
	justify-content: left;
	padding-left: 10px;
}
a.media_name{
	color: #607fa6;
	text-decoration: none;
}
.infinite-scroll-preloader {
	margin-top:10px;
	margin-bottom: 10px;
	text-align: center;
}
.infinite-scroll-preloader .preloader {
	width:20px;
	height:20px;
}
.agenttop{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.agenttop img{
	width: 100%;
	height: auto;
}

.sq-nav {
	overflow: hidden;
	padding: 10px 0;
}
.sq-nav li {
	float: left;
	width: 25%;
	text-align: center;
}
.sq-nav .gallery-item img {
	width: 60%;
	display: block;
	margin: 5px auto;
}
.sq-nav p {
	color: #000;
	font-size: 14px;
}
.list-block {
	margin: 0 0 !important;
	font-size: 14px;
}
.list-block .item-inner:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 0 !important;
	width: 100%;
	background-color: #fff !important;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.margin-0 {
	margin: 0 0 !important;
}
.item-inner .icon{
	display: inline-block;
	margin-right: 10px;
	height: 30px;
}
.item-inner .icon img{
	width: 30px;
	height: 30px;
}
.list-block .item-title {
	margin-left: 0;
	line-height: 30px;
	left:0;
	position: absolute !important;
}
.max-width{
	max-width: 80% !important;
}
.list-block ul:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 0 !important;
	width: 100%;
	background-color: #c8c7cc;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.padding-0{
	padding: 0 0 !important;
}
.padding-r-0{
	padding-right: 0 !important;
}
.padding-l-0{
	padding-left: 0 !important;
}
.list-block .item-content {
	padding-left: 10px !important;
}
.list-block .item-content-2 {
	padding-left: 35px !important;
}
.list-block .item-input {
	width: 100%;
	margin-left: 35px;
}
.list-block .item-title2 {
	width: 100%;
	color: #222;
}
.list-block .item-input2 {
	width: 100%;
}
.list-block .item-texteara {
	width: 100%;
	height: 80px;
	line-height: 22px;
	margin: 5px 0;
}
.list-block .item-link .item-inner {
	padding-right: 25px !important;
	background-position: calc(100% - 10px) center  !important;
}
.content-block-img{
	width: 100%;
	min-height: 200px;
}
.content-block-img img{
	width: 100%;
	height: auto;
	max-height: 300px;
}
.content-block{
	color: #333333;
	font-size: 14px;
}
.content-block .listmore{
	height: 44px;
	line-height: 44px;
	width: 100%;
	float: left;
}
.content-block .listmore-nofloat{
	height: 44px;
	line-height: 44px;
	width: 100%;
}
.content-block .lefttitle{
	height: 44px;
	line-height: 44px;
	width: 35%;
	display: inline-block;
	float: left;
}
.content-block .lefttitle-sm{
	height: 44px;
	line-height: 44px;
	width: 28%;
	display: inline-block;
	float: left;
}
.content-block .lefttitle-sm2{
	height: 44px;
	line-height: 44px;
	width: 20%;
	display: inline-block;
	float: left;
}
.content-block .lefttitle-sm3{
	height: 44px;
	line-height: 44px;
	width: 33.3%;
	display: inline-block;
	float: left;
}
.content-block .rightcon{
	height: 44px;
	line-height: 44px;
	width: 63%;
	float: right;
	padding-right: 2%;
	text-align: right;
}
.content-block .rightcon-sm1{
	height: 40px;
	line-height: 40px;
	width: 53%;
	float: left;
	padding-right: 2%;
	text-align: right;
	margin-top: 4px;
}
.content-block .rightcon-sm1 input{
	height: 34px;
	line-height: 34px;
	width: 98%;
	float: left;
	padding: 0 1%;
	border-radius: 3px;
	text-align: left;
	border: 1px solid #DDDDDD;
}
.content-block .rightcon-sm2{
	height: 44px;
	line-height: 44px;
	width: 20%;
	float: right;
	padding-right: 2%;
	text-align: center;
}
.content-block .rightcon-lg{
	height: 44px;
	line-height: 44px;
	width: 68%;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 2%;
	text-align: right;
}
.content-block .rightcon-lg .school{
	height: 30px;
	line-height: 30px;
	margin-top: 7px;
	padding: 2px 35px 0 10px;
	border-radius: 30px;
	/*width: 42%;*/
	float: right;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	background: url(../img/icon-school.png) center right 5px no-repeat #b5ebf7;
	background-size: 25px;
}
.content-block .rightconaddr{
	height: 44px;
	line-height: 22px;
	width: 63%;
	float: right;
	overflow: hidden;
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
	padding-right: 2%;
	text-align: right;
}
.content-block .rightconaddr-lg{
	height: 44px;
	line-height: 22px;
	width: 70%;
	float: right;
	padding-right: 2%;
	text-align: right;
}
.height-70{
	height: 60px;
}
.agentbot{
	position: fixed;
	width: 96%;
	left:0;
	bottom: 0;
	height: 40px;
	padding: 5px 2%;
	z-index: 9000;
	background-color: rgba(0,0,0,0.8);
}
.agentbot .lefttext{
	display: inline-block;
	line-height: 18px;
	position: relative;
	margin: 0 auto;
	left: -20px;
	width: 45%;
	top: -6px;
}
.agentbot .rightbtn{
	display: inline-block;
	position: relative;
}
.agentbot .rightbtn li{
	display: inline-block;
	padding: 3px 0 2px 0;
	margin-left:3px;
	height: 33px;
	width: 33px;
}
.agentbot .rightbtn li img{
	height: 35px;
	width: 35px;
}
.loading{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 0;
	
	border:2px solid lightgreen;
	-webkit-animation: turn 2s linear infinite;
}


/* .loading2{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 0;
	border:2px solid #333;
	-webkit-animation: turngray 2s linear infinite;
}
.loading-img{
	position:absolute;
	top:6px;
	left:calc(2% + 2px);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 9999;
} */


.loading2{
	width: 42px;
	height: 42px;
	top:-16px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	left: 0;
	border:2px solid lightgreen;
	-webkit-animation: turngray 2s linear infinite;
}
.loading-img{
	position:absolute;
	top:-10px;
	
	left:calc(2% + 1px);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	z-index: 9999;
}
.loading-span{
	    left: -37px;
top:-4px;
    font-size: 10px;
    position: relative;
}
.loading span{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: lightgreen;
	position: absolute;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
	-webkit-animation: changeBgColor 2s linear infinite;
}
.loading2 span{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: lightgreen;
	position: absolute;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
	-webkit-animation: changeBgColor 2s linear infinite;
}
@-webkit-keyframes changeBgColor{
	0%{
		background: #fff;
	}
	100%{
		background: #666;
	}
}
@-webkit-keyframes turn{
	0%{
		-webkit-transform: rotate(0deg);
		border-color: #fff;
	}
	100%{
		-webkit-transform: rotate(360deg);
		border-color: #666;
	}
}
@-webkit-keyframes turngray{
	0%{
		-webkit-transform: rotate(0deg);
		border-color: #333;
	}
	100%{
		-webkit-transform: rotate(360deg);
		border-color: #fff;
	}
}
.modal-title {
	font-size: 15px;
	text-align: center;
}
.accordion-item-content {
	width: 100%;
}
.leftmenusmall ul.menu li a i {
	width: 30px !important;
	margin-left: 0 !important;
}
.leftmenusmall ul.menu li a span {
	width: 195px;
	line-height: 50px;
	vertical-align: middle;
	position: relative;
}
ul.menu li a i {
	margin-bottom: 0 !important;
}
.content-block div.listmore{
	border-bottom: 1px solid #dcdcdc;
}
.content-block div.listmore:last-child{
	border-bottom: none;
}
.accordion-item-expanded a {
	color: #5075b4 !important;
}

.accordion-item-expanded .color-blue {
	color: #5075b4;
}
.list-block .item-link .item-inner-none{
	background-image: none !important;
}
.media_text{
	color: #607fa6;
	text-decoration: none;
}
.media_name_chn{
	float: left;
	max-width: 96px;
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	overflow: hidden;
}
.media_name_eng{
	float: left;
	/*max-width: 230px;*/
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	overflow: hidden;
}

.media_desc{
	float: left;
	/*width: 280px;*/
	line-height: 30px;
	height: 30px;
	text-decoration: none;
	overflow: hidden;
}
.media_fellow{
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	display: block;
}
.media_fellow img{
	width: 100%;
	height: auto;
}
.bolder{
	font-weight: 600;
}
.color-blue2{
	color: #607fa6;
}
.article-bot{
	margin: 15px 0;
}
.article-bot img{
	width: 100%;
	height: auto;
	margin: 10px 0;
}
.line-height-30{
	line-height: 30px;
}
.rich_media_content {
	line-height: 25px !important;
	color: #333;
}
.message-list{
	line-height: 35px;
}
.message-list li{
	height: 44px;
	line-height: 44px;
}
a.mes-name{
	height: 44px;
	float: right;
}
.mymess-list{
	width: 96%;
	padding: 0 2%;
}
.mess-title {
	position: relative;
	height: 22px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 30px;
}
.mess-title span{
	position: absolute;
	height: 44px;
	background: #f5f5f5;
	width: 80px;
	line-height: 44px;
	text-align: center;
	left: 50%;
	margin-left: -40px;
}
.mymess-list-con{
	width: 100%;
	color: #333333;
	position: relative;
}
.mymess-list-con li{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.mymess-list-con li .piclogo{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
.mymess-list-con li .piclogo img{
	border-radius: 5px;
	width: 40px;
	height: 40px;
}
.mymess-list-con li .likezan{
	width: 40px;
	height: 20px;
	position: absolute;
	text-align: right;
	cursor: pointer;
	top: 0;
	right: 0;
}
.mymess-list-con li .mess-con{
	margin-left: 45px;
}
.mymess-list-con li  .mess-con .mess-name{
	height: 20px;
	line-height: 20px;
	position: relative;
	color: #666;
	top: 0;
	left: 0;
	display: inline-block;
}
.mymess-list-con li  .mess-con .mess-name2{
	height: 16px;
	line-height: 16px;
	position: relative;
	color: #666;
	top: 0;
	left: 0;
	display: inline-block;
	border-left:4px solid #0ab60a;
}
.mymess-list-con li  .mess-con .mess-pl{
	line-height: 20px;
	color: #000;
	position: relative;
	top: 0;
	display: inline-block;
	left: 0;
}
.mymess-list-con li  .mess-con .mess-foot{
	height: 20px;
	line-height: 20px;
	color: #999;
	position: relative;
	font-size: 12px;
	top: 0;
	display: block;
	left: 0;
}
.mymess-list-con li  .mess-con .mess-time{
	height: 20px;
	line-height: 20px;
	color: #999;
	position: relative;
	font-size: 12px;
	top: 0;
	left: 0;
}
.mymess-list-con li  .mess-con .mess-foot a{
	color: #607fa6 ;
	margin-left: 10px;
	text-decoration: none;
}
.listing-title{
	height: 16px;
	line-height: 16px;
	position: relative;
	color: #000;
	top: 0;
	left: 0;
	margin: 15px 2% 0 2%;
	padding-left: 10px;
	display: inline-block;
	border-left:4px solid #5075b4;
}
.listing-title-ban{
	height: 16px;
	line-height: 16px;
	position: relative;
	color: #000;
	top: 0;
	left: 0;
	padding: 15px 2% 0 2%;
	padding-left: 10px;
	display: inline-block;
	border-left:4px solid #5075b4;
}
.col-96{
	width: 96%;
	margin: 0 2%;
}
.border-radius-5{
	border-radius: 5px;
}
.linear{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:160px;
	z-index: 0;
	background: url("../img/imgbg.png") bottom repeat-x;
	/*background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));        /!* IE 10 *!/*/
	/*background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.4));/!*????*!/*/
	/*background:-webkit-gradient(linear, 0% 0%, 0% 40%,from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4)));/!*???*!/*/
	/*background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4)));      /!* Safari 4-5, Chrome 1-9*!/*/
	/*background: -webkit-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.4));   /!*Safari5.1 Chrome 10+*!/*/
	/*background: -o-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.4));  /!*Opera 11.10+*!/*/
}
.publishedtime{
	margin:10px 10px;
	padding:0 10px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	background: rgba(0,0,0,0.25);
}
.btn-import{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	right:0;
	bottom: 70px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	z-index: 99;
	/*background: rgba(0,0,0,0.25);*/
}

.btn-poolimport{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	right:0;
	bottom: 105px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	z-index: 99;
	/*background: rgba(0,0,0,0.25);*/
}

.btn-more{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	/*top: 30px;*/
	right:0;
	bottom:40px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	/*background: rgba(0,0,0,0.25);*/
	z-index: 99;
}

.btn-listingup{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	right:0;
	bottom: 105px;
	border-color:white;
	border-width:1px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	background:  rgba(0,0,0,0.75);
     border: 1px solid #fff;
	z-index: 99;
	/*background: rgba(0,0,0,0.25);*/
}

.btn-request {
    /* margin: -15px 10px; */
    padding: 0 15px;
    color: #FFFFFF;
    height: 25px;
    position: absolute;
    left: 70px;
    top: 12px;
    border-color: white;
    border-width: 1px;
    line-height: 25px;
    display: inline-block;
    border-radius: 30px;
    background: rgba(0,0,0,0.75);
    border: 1px solid #fff;
    z-index: 99;
    /* background: rgba(0,0,0,0.25); */
}
a.exmore {
    color: #007aff;
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 5px;
}
.btn-listingdown{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	border-color:white;
	border-width:1px;
	/*top: 30px;*/
	right:0;
	bottom:65px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	background:  rgba(0,0,0,0.75);
     border: 1px solid #fff;
	/*background: rgba(0,0,0,0.25);*/
	z-index: 99;
}
.btn-listingdelete{
	margin:10px 10px;
	padding:0 15px;
	color:#FFFFFF;
	height: 25px;
	position: absolute;
	border-color:white;
	border-width:1px;
	/*top: 30px;*/
	right:0;
	bottom:25px;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
    background:  rgba(0,0,0,0.75);
     border: 1px solid #fff;
	/*background: rgba(0,0,0,0.25);*/
	z-index: 99;
}

.listing{
	margin:0 10px;
	position:absolute ;
	bottom: 0px;
	left: 0;
	height: 83px;
	color: #ffffff;
	width: calc(100% - 20px);
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
}
.listing-desc{
	height: 20px;
	line-height: 20px;
	font-size: 18px;
}
.listing-memo{
	height:20px;
	line-height:20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.inescrow{
	position: absolute;
	top: 0;
	right: 2px;
	width: 50px;
	height: 50px;
	background: url("../img/inescrow.png") no-repeat;
	background-size: 50px;
	display: none;
}
/**锟斤拷锟斤拷锟斤拷源锟斤拷锟斤拷图锟疥开始**/
.housepic .topright {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 5px 0 0;
    max-height: 18px;
    z-index: 99;
}
.FavoriteExtension {
    display: inline-block;
    margin-left: 8px;
}
.FavoriteExtension.fav-off .favorite-icon {
    fill: rgba(0,0,0,.5);
}
.FavoriteExtension .favorite-icon {
    display: block;
}
svg.rfSvg, svg.SvgIcon {
    pointer-events: none;
}
.favorite-actionable-outline {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff;
}
/**锟斤拷锟斤拷锟斤拷源锟斤拷锟斤拷图锟斤拷锟斤拷锟�**/

.checkbox-h{
	position: absolute;
	top:10px;
	right: 10px;
	width: 20px;
	height: 20px;
	font-size: x-small;
	/*border-radius: 2px;*/
	/*box-sizing: border-box;*/
	/*background: #e5e5e5;*/
	z-index: 99;
	/*margin: 0;*/
	/*padding: 0;*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*-ms-appearance: none;*/
	/*appearance: none;*/
	/*border: none;*/
	cursor: pointer;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}

.checkbox-h-heart{
	position: absolute;
	top:10px;
	right: 0px;
	width: 20px;
	height: 20px;
	font-size: x-small;
	/*border-radius: 2px;*/
	/*box-sizing: border-box;*/
	/*background: #e5e5e5;*/
	z-index: 99;
	/*margin: 0;*/
	/*padding: 0;*/
	/*-webkit-appearance: none;*/
	/*-moz-appearance: none;*/
	/*-ms-appearance: none;*/
	/*appearance: none;*/
	/*border: none;*/
	cursor: pointer;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}


.inescrow-big{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 80px;
	z-index: 99;
	background: url("../img/inescrow.png") no-repeat;
	background-size: 80px;
	display: none;
}
.display-inblock{
	display: inline-block;
}
.display-none{
	display: none;
}

.publishedtime-con{
	/*margin-top: 3px;*/
	right:0;
	padding:0 10px;
	color:#FFFFFF;
	height: 25px;
	margin-top: 35px;
	position: absolute;
	line-height: 25px;
	display: inline-block;
	border-radius: 30px;
	background: rgba(0,0,0,0.25);
}
.listing-con{
	margin: 20px 10px;
	position:relative ;
	/*height: 120px;*/
	color: #000000;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
}
.listing-con-big{
	color: #000000;
	font-size: 22px;
	line-height: 30px;
	position: relative;
	left: 0;
}
.listing-con-small{
	color: #3e3e3e;
	font-size: 14px;
}
.listing-con-ne{
	color: #000000;
	font-size: 14px;
	line-height: 25px;
	height: 50px;
	display: inline-block;
	position: relative;
	float: left;
	left: 0;
}
.line-height-18{
	line-height: 18px;
}
.height-120{
	margin: 15px 0 !important;
	height: 120px !important;
	line-height: 24px !important;
}
.listing-con-memo{
	position: relative;
	height: 50px;
	text-align: left;
	float: left;
	font-size: 26px;
	line-height:25px;
	color:#18a7e7;
}
.listing-con-memo-r{
	position: relative;
	left: 0;
	height: 50px;
	text-align: left;
	width: 45%;
	float: right;
	font-size: 26px;
	line-height:25px;
	color:#18a7e7;
}
.listing-con-memo-small{
	font-size: 16px;
}

.listing-con-ne-r{
	color: #000000;
	font-size: 14px;
	line-height: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	float: right;
	right: 0;
}
.listing-con-price{
	font-size: 16px;
	line-height:25px;
	color:#18a7e7;
	height: 25px;
	display: inline-block;
	text-align: right;
	position: relative;
	float: right;
	top: 5px;
	right:0;
}
.likeSchool{
	margin: 0px 0 !important;
	padding:0 10px;
}
.likeSchool .tab-link{
	font-weight: 600;
	color: #000 !important;
	display:block;
	height: 44px;
	width: 25%;
	line-height: 44px;
	text-align: center;
	margin: 0;
}
.likeSchool .tab-link-m{
	font-weight: 600;
	color: #000 !important;
	display:block;
	height: 44px;
	width: 25%;
	line-height: 44px;
	text-align: center;
	margin: 0;
}
.likeSchool .active{
	color:#5075b4 !important;
	border-bottom: 1px solid #5075b4;
}
.color-black{
	color: #000000 !important;
}
.circles{
	position: relative;
	top:-15px;
}
.table-more {
	width: 100%;
	float: left;
	/*padding: 0 !important;*/
	margin: 0 !important;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
	padding: 5px 0 10px 0 !important;
}
.table-more li {
	width: 50%;
	float: left;
	list-style: none;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
	line-height: 20px;
	padding:5px 3%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-more li:nth-child(2n-1) {
	/*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
}

.table-more li a{
	color: #333333 !important;
	font-size: 12px !important;
	border-bottom: 1px solid #cccccc;
}
.table-more li a:hover{
	color: #5075b4 !important;
	border-bottom: 1px solid #5075b4;
}
.schoolName{
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.position-a{
	position:absolute;
	float: right;
	right: 25px;
	top: 12px;
	margin-right: 0;
}
.bot-text{
	position:absolute;
	bottom: 0;
	left: 127px;
	width: calc(100% - 135px);
}
.display-block{
	display: block !important;
}
.hotcity {
	width: 100%;
	/*max-width: 700px;*/
	margin: 0 auto;
	box-sizing: border-box;
	display: block;
	float: left;
}
.hotcity li {
	width: 33.33%;
	float: left;
	display: block;
	padding: 0;
	margin: 0 auto;
	/*padding: 1px 0 0px 0;*/
}
.hotcity li a {
	float: left;
	width:calc(100% - 4px);
	height: 90px;
	display: block;
	padding: 0 !important;
	text-align: center;
	color: #000000;
	margin: 2px ;
	position: relative;
	/*overflow: hidden;*/
}
.hotcity li a img{
	width:100%;
	float: left;
	height:90px;
	box-sizing: border-box;
	vertical-align: middle;
	display: block;
}
.hotcity li a span{
	width:100%;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: rgba(0,0,0,.5);
	line-height: 35px;
	color: #ffffff;
}
.productblock-lg {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 160px;
}
.color-gray {
	color: #8e8e93 !important;
}
.bg-grey { background-color: #f5f5f5 !important;}
.bg-grey2 { background-color: #7c7c7c !important;}
.list-ban-title {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	text-transform: uppercase;
	color: #B9B9B9;
	line-height: 20px;
	padding: 10px 0;
	margin: 0 2%;
}
.list-picker-title {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	text-transform: uppercase;
	color: #B9B9B9;
	line-height: 20px;
	margin: 10px 10px;
}
.list-picker {
	margin: 0 0 !important;
	font-size: 14px;
}
.list-picker li {
	box-sizing: border-box;
	position: relative;
	background: #ffffff;
}
.list-picker li .l-title {
	width: 30%;
	display: inline-block;
}
.list-picker li .r-picker {
	width: 70%;
	display: inline-block;
}
.list-picker .item-con{
	padding:0 10px;
	position: relative;
	width: 100%;
	min-height: 44px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	overflow: hidden;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-item-align: stretch;
	-webkit-align-self: stretch;
	align-self: stretch;

}
.list-picker .item-con a {
	position: relative;
	width: 100%;
	min-height: 44px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	overflow: hidden;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-item-align: stretch;
	-webkit-align-self: stretch;
	align-self: stretch;

}
.list-picker input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	box-sizing: border-box;
	border: none;
	background: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	display: inline-block;
	padding: 0px;
	margin: 0;
	width: 95%;
	height: 43px;
	color: #000;
	font-size: 14px !important;
	font-family: inherit;
}

.city-block{
	list-style: none;
	margin: 0 auto;
	padding: 0 0 10px 0;
}
.city-block li{
	color: #222222;
	font-size: 15px;
	text-align: center;
	margin: 10px 0 0 10px;
	line-height: 35px;
	min-width: 40px;
	border-radius: 5px;
	background-color: #eeeeee;
	width: calc(50% - 15px);
	display: inline-block;
	cursor: pointer;
}
.navbar.navbar-hidden {
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.productdata .rightPrice{
	position: absolute;
	height: 40px;
	line-height: 20px;
	right: 2%;
	top:50%;
	margin-top: -20px;
}
.productdata .rightPrice15{
	position: absolute;
	height: 40px;
	line-height: 20px;
	right: 2%;
	top:0%;
	
}
.productdata .leftMemo{
	position: relative;
	height: 80px;
	line-height: 20px;
}
.productblock-t {
	position: relative;
	overflow: hidden;
	width: 80px;
	height:60px;
}
.productdata-t {
	width: calc(100% - 90px);
	float: left;
	margin: 0;
	height: 60px;
}
.productdata-t2 {
	width: calc(100% - 115px);
	float: left;
	margin: 0;
	padding-right: 25px;
	height: 60px;
}
.maintitle-t {
	width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 25px;
	height: 25px;
	margin-bottom: 0px;
	font-size: 15px;
}
.edittime-t {
	min-width: 80px;
	height: 16px;
	display: inline-block;
	left: 0;
	/* position: relative; */
	float: lefft;
	text-align: left;
	/* margin-top: 12px; */
	line-height: 16px;
}
.bot-text-t {
	position: absolute;
	bottom: 0;
	left: 100px;
	text-align: left;
	width: calc(100% - 110px);
}
.pinglun-t {
	position: absolute;
	width: 40px;
	top:10px;
	right: 5px;
	height:50px ;
	text-align: left;
	font-size: 12px;
	color: #5075b4;
	z-index: 99;
}
.pinglun-t .icons-pl {
	position: absolute;
	background:  url(../img/icon-pingl.png) center no-repeat;
	background-size: 18px;
	left:10px;
	width: 18px;
	height: 18px;
}
.pinglun-t .icons-pl {
	position: absolute;
	background:  url(../img/icon-pingl.png) center no-repeat;
	background-size: 18px;
	width: 18px;
	height: 18px;
}
.pinglun-t .text-pl {
	position: absolute;
	width: 40px;
	padding-top: 22px;
	text-align: center;
	line-height: 18px;
}
.height-20{
	margin-top: 10px;
	height: 30px;
}
.textover{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 16% !important;
	background: rgba(0,0,0,0.2);
	color: #ffffff;
	margin: 0 42%;
	border-radius: 20px;
}
.swiper-container-2{
	height: 240px !important;
	background: #f5f5f5;
}


.playContent{ position:relative;}
.video-div{ position:relative; }
.artic_mp {
    position: relative;
}

.video-div2{
 position: absolute;
 top:0;
  text-align: center;
  left: 0;
  z-index:99999;
}
.playbutton {
	position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
   /* line-height: 40px;*/
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
	z-index:99999;
}
.playbutton2 {
	position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
   /* line-height: 40px;*/
    left: 50%;
    top: 23%;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
	z-index:99999;
}
.playbutton img{ width:100%;}



@media screen and (max-width: 361px) {

	.publishedtime-con{
		margin-top: 35px;
	}
	.listing-con-memo-r{
		height: 30px;
		width: 100%;
		float: left;
		top:5px;
	}
	.listing-con-ne-r{
		position: relative;
		float: left;
		left: 0;
	}
	.listing-con-price{
		float: right;
		top: -25px;
		left:0;
	}
	.listing-con-memo {
		float: right;
	}
}
@media screen and (min-width: 767px){
	.hotcity li {
		width: 20%;
	}
}




.img-circle {
		border-radius: 50%;
	}
	.radius10{ border-radius:10px;}
	.padding10{ padding:10px;}
	.relative{ position:relative;}
	
	
	.senderLeft{  
            clear:both;
        }  
        .senderLeft div:nth-of-type(1){  
            float: left;  
        }  
        .senderLeft div:nth-of-type(2){  
            background-color: aquamarine;  
            float: left;  
            margin: 0 10px 10px 15px;  
            padding: 10px 10px 10px 10px;  
            border-radius:7px;  
        }  
  
        .receiverRight div:first-child img,  
        .senderLeft div:first-child img{  
            width:60px;  
            height:60px;  
        }  
  
        .receiverRight{  
            clear:both;
        }  
        .receiverRight div:nth-child(1){  
            float: right;  
        }  
        .receiverRight div:nth-of-type(2){  
            float:right;  
            background-color:#fff;  
            margin: 0 10px 10px 10px;  
            padding: 10px 10px 10px 10px;  
            border-radius:7px;  
        }  
  
        .senderLeft .left_triangle{  
            height:0px;    
            width:0px;    
            border-width:8px;    
            border-style:solid;    
            border-color:transparent aquamarine transparent transparent;    
            position: relative;  
            left:-26px;  
            top:3px;  
        }  
  
        .receiverRight .left_triangle{  
            height:0px;    
            width:0px;    
            border-width:8px;    
            border-style:solid;    
            border-color:transparent transparent transparent white;    
            position: relative;  
            right:-26px;  
            top:3px;  
        }
		
		.productdata-t3 {
			 width: calc(100% - 125px);
			 float: left;
			 margin: 0;
			padding-right:10px;
			padding-left:10px;
			/* height: 60px;*/
		 }
		 
		 .productdata-t4 {
			 width: calc(100% - 250px);
			 float: left;
			 margin: 0;
			padding-right:10px;
			padding-left:10px;
			/* height: 60px;*/
		 }
		 
		 .senderLeft .productblock, .receiverRight .productblock{ width:60px; height:60px;}
		  .senderLeft .productdata-t3, .receiverRight .productdata-t3{ text-align:left;}
	
	.productblock2{}
	.productblock2 img{ width:107px; height:107px;}
	.dataTimes{ height:30px; line-height:30px; font-size:18px; color:#BABABA;text-align:left;}
	
	.allBox{ width:20px; height:20px; background:url(../img/replyall.png) no-repeat; display:inline-block; background-size:100%; float:right; margin-top:5px;}
	.allBottom{ width:20px; height:20px; background:url(../img/replyin.png) no-repeat; display:inline-block; background-size:100%; float:right; margin-top:5px;}
	.allTop{ width:20px; height:20px; background:url(../img/replyout.png) no-repeat; display:inline-block; background-size:100%; float:right; margin-top:5px;}
	
	
	.inforBox{ /* padding-bottom:10px; */}
	.inforBox .textInfor{ width: calc(100% - 112px); border-radius:10px; padding:5px; font-size:14px; color:#565656;border-radius:7px !important;border-top-right-radius:0px !important;border-bottom-right-radius:0px !important; border:1px solid #CCC; height:18px;}
	.inforBox .btnInfor{ width:60px; height:30px; background:#3BD282; color:#fff; font-size:14px; font-weight:bold; border:none;border-top-right-radius: 7px; border-bottom-right-radius: 7px;border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
	.inforBox .btnAdd{ width:40px; height:30px; background:#1A88CA; color:#fff; font-size:14px; font-weight:bold; border:none;border-top-right-radius:7px;border-bottom-right-radius:7px;}
	.inforBox .btnAdd_circle{ width:30px; height:30px; border-radius:60%; background:#fff; color:#6E7275; font-size:14px; font-weight:bold; border:1px solid #6E7275; margin-left: 8px;}
	.borderTR_BR{border-top-right-radius:7px;border-bottom-right-radius:7px;}
	
	.img_WeChat{
		background:url(../img/WeChat.png) no-repeat; background-size:100%; display:inline-block; width:32px; height:32px;
	}
	.img_info{
		background:url(../img/icon_info.png) no-repeat; background-size:100%; display:inline-block; width:32px; height:32px;
	}
	.img_video{
		background:url(../img/icon_video.png) no-repeat; background-size:100%; display:inline-block; width:32px; height:32px;
	}
	
	.font20{ font-size:20px;}
	
	
.ExpressionBox{ width:100%; border-top:1px solid #ddd; padding:15px; margin-top: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}	
.ExpressionBox ul li:nth-child(4) {margin-right:0em;}
.ExpressionBox ul li{ height:70px;}
.font24{ font-size:2.4em !important;}	
.text_blue{ color:#1A88CA;}
.mr20{ margin-right:2.0em;}
.font12{ font-size:12px;}
.bg_blue2{ background:#5075b4;}

.Phrase{ width:100%; display:none;}
.Phrase ul li{ width:100%; padding:10px; border-bottom:1px solid #f6f2f2;}
.Phrase ul li:nth-last-child(2){ border-bottom:1px solid #CCC;}
.Phrase ul li:last-child{ border-bottom:none;}
.Phrase ul li:last-child span{ color:#646464;}
.Phrase ul li span{ color:#7b7b7b;}

.fengeline_04{
    width:100%;
}
.fengeline_04{
    overflow: hidden;
    _zoom: 1;
}
.fengeline_04 b{
    background: #ddd;
    margin-top: 12px;
    float: left;
    width: 30%;
    height: 1px;
    _overflow: hidden;
}
.fengeline_04 span{
    padding: 0 10px;
    width: 40%;
    float: left;
    text-align: center;
}


@media (max-width: 415px){  
.ExpressionBox{ padding:20px;}
.font24{ font-size:3.0em !important;}	
.mr20{ margin-right:3.3em;}
}
@media (max-width: 412px){  
.ExpressionBox{ padding:20px;}
.font24{ font-size:3.0em !important;}	
.mr20{ margin-right:3.2em;}
}
@media (max-width: 385px){
	.ExpressionBox{ padding:15px;}
.font24{ font-size:2.4em !important;}	
.mr20{ margin-right:2.6em;}
}
@media (max-width: 376px){
	.ExpressionBox{ padding:15px;}
.font24{ font-size:2.4em !important;}	
.mr20{ margin-right:2.6em;}
}
@media (max-width: 361px){
	.ExpressionBox{ padding:15px;}
.font24{ font-size:2.4em !important;}	
.mr20{ margin-right:2.3em;}
}
@media (max-width: 321px){ 
.ExpressionBox{ padding:15px;}
.font24{ font-size:2.0em !important;}	
.mr20{ margin-right:1.4em;}
}




.chatfk{ background:#fff; width:50px; height:50px;  position:fixed; bottom:50px; right:20px; border:2px solid #585858;border-radius:50%;z-index: 9999;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.ocbtn{ width:50px;height:50px; position:relative;}
.ocbtn a{ position:absolute; top:10px; left:10px;}
.ocbtn a.closebtn{ top:12px; left:14px;}
.chatfk i.fa{  color:#585858;}

/*锟斤拷锟斤拷锟斤拷锟截诧拷锟斤拷式*/
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:5990;
    -moz-opacity: 6;
    opacity:0;
    filter: alpha(opacity=0);
}
.white_content {
    display: none;
    position: fixed;
    bottom: 110px;
    right: 10px;
    width: 80%;
	max-width:380px;
    /*height: 80%;*/
    z-index:5990;
    overflow: auto; overflow-x:hidden;
}

.unreadnum{ display:block; width:16px; height:16px;line-height:16px;
text-align:center;font-size:12px;border-radius:50%; background:#f00; color:#fff;  
position:absolute;
left:27px;
top: 6px;z-index:9999;}
.leftmenusmall ul.menu li a i.newmes{ display:block; color:#f00; font-size:8px !important; position:absolute; left:60px; top:0; width:15px !important;}
.noreadnewmestip{ display:block; color:#f00; font-size:8px !important; position:absolute; left:90px;width:15px !important;}
.Chatbox{ width:100%; height:360px;background:#f5f5f5; border:1px solid #e2e2e2; border-top:0; /*box-shadow:0px 0px 8px 5px rgba(188,188,188,0.8);*/ position:relative; overflow: auto;padding-top: 50px;}
.Chatbox-top{ background:#fff; height:50px; line-height:50px;width:calc(80% - 2px); max-width:378px; /*width: 80%;max-width:380px;*/ text-align:center; position:fixed; bottom:470px; right:10px; border:1px solid #e2e2e2; border-bottom:0;z-index:5990;}

.fltxt {
	position: absolute;
	left: 0;
	color: #f5f5f5 !important;
	top: 10px;
	background: url(../img/openhousetimebg.png) no-repeat left center;
	padding-left: 10px;
	width: 200px;
	height: 35px;
	font-size:14px;
	line-height: 30px;
	background-size: 200px 35px;
}

.fltxtright {
	position: absolute;
	left: 0px;
	top: 37px;
	background: url(../img/openhousetimebg.png) no-repeat left center;
	padding-left: 10px;
	width: 200px;
	height: 35px;
	line-height: 30px;
	background-size: 200px 35px;
}

.flsoldtxt {
	position: absolute;
	color: #f5f5f5 !important;
	left: 0;
	top: 10px;
	background: url(../img/soldflagbg.png) no-repeat left center;
	padding-left: 10px;
	width: 60px;
	height: 35px;
	line-height: 30px;
	background-size: 60px 35px;
}
.flrenttxt {
	position: absolute;
	color: #f5f5f5 !important;
	left: 0;
	top: 10px;
	background: url(../img/rentbg.png) no-repeat left center;
	padding-left: 10px;
	width: 100px;
	height: 35px;
	line-height: 30px;
	background-size: 110px 35px;
}

.flcommercialtxt {
	position: absolute;
	color: #f5f5f5 !important;
	left: 0;
	top: 10px;
	background: url(../img/soldflagbg.png) no-repeat left center;
	padding-left: 10px;
	width: 100px;
	height: 35px;
	line-height: 30px;
	background-size: 110px 35px;
}


.flsoldtxtright {
	position: absolute;
	left: 0px;
	top: 37px;
	background: url(../img/soldflagbg.png) no-repeat left center;
	padding-left: 10px;
	width: 180px;
	height: 35px;
	line-height: 30px;
	background-size: 180px 35px;
}
.videocon{
	/* position:absolute;
	width:100%;
	 z-index: -999;  */
	 height:213px;
}
.slidercon{
	/* position:absolute;
	width:100%;
	 z-index: -999;  */
	 height:213px;
}
.abtncon{position:absolute; top:50px; right:0px;height: 28px; z-index: 999;}
.abtncon a{ margin-right:5px; display:inline-block; }
.abtnslider{ width:28px; height:28px; background:url(../img/listingslider.png) no-repeat center; background-size:28px; }
.abtnimage{ width:28px; height:28px; background:url(../img/listingimg.png) no-repeat center; background-size:28px; }
.abtnvideo{ width:28px; height:28px; background:url(../img/listingvideo.png) no-repeat center; background-size:28px; }
.abtnnormal{ width:28px; height:28px; background:url(../img/listingnormal.png) no-repeat center; background-size:28px; }
.imglist img{width:100%;}
.hide-cover{ display:none;}
	

.vicon{ /*padding-top:40px;*/ background:#fff; padding-bottom:35px;}
.vicontop{ border-bottom:1px solid #d8d8d8;/*box-shadow:0px 5px 5px 2px rgba(216,216,216,1);*/ padding-top:20px;padding-bottom:15px;}
.agent-pic{ width:50px; height:50px; margin:auto; border-radius:50%; overflow:hidden;}
.agent-pic img{width:50px; height:50px;}
.name{ color:#666; font-size:14px; text-align:center; height:35px; line-height:35px;}
.vicontoptxt{ text-align:center; width:90%; margin:auto; }

/*锟斤拷写锟斤拷息*/
.fillin{ background:#fff; width:80%; margin:auto; border:1px solid #d8d8d8; padding:5%;}
.fillin .infoinpt{ width:90%; height:30px; margin:auto;border:1px solid #d8d8d8; padding-left:5%; padding-right:5%;}
.sendbtn {width:100%; margin:auto; }
.sendbtn .sendbtninp{ width:100%; height:35px; margin-top:10px; background:#c82021; color:#fff; text-align:center; border:0;}
/*锟斤拷锟斤拷锟铰�*/
.chatcon{ background:#f5f5f5; }
.senderLeft .productblock, .receiverRight .productblock{width:50px;height:50px;}
.receiverRight div:first-child img, .senderLeft div:first-child img{ width:50px;height:50px;}

.senderLeft2{ width:100%;}
.receiverRight2{ width:100%;}
.productdata-t3{width:auto;max-width: calc(100% - 125px);}
.senderLeft.senderLeft2 div:nth-of-type(2){ background-color:#555; color:#fff; position:relative;}
.senderLeft.senderLeft2 .left_triangle{border-color:transparent #555 transparent transparent;position:absolute;left: -16px;top: 12px;}

.receiverRight.receiverRight2 div:nth-of-type(2){ position:relative;margin-right: 15px; }
.receiverRight.receiverRight2 .left_triangle{position:absolute;right: -1.imessage6px;top: 12px;}


.cahtifram{/*overflow-x:no; overflow-y:auto;*/ }
/*.pb-standalone-dark img,.pb-standalone-video img{ width:100%;}*/
.productblock img{ width:100%;}

.Chatbox-bot{ background:#f5f5f5; height:50px; line-height:50px;width:80%; max-width:378px; /*width: 80%;max-width:380px;*/ text-align:center; position:fixed; bottom:111px; right:11px;}
.Chatbox-bot .mesinpt{ width:85%; margin:auto; padding-left:10px; padding-right:10px; height:35px; border:1px solid #e2e2e2;}

.navbar-logo{ width:25px; height:25px; margin-right:8px;}


 .selectpic{ position:absolute; right:2px; top:2px; z-index:999;width:32px; height:26px; background:url(../img/seu.png) no-repeat; cursor:pointer; }
.selectpic.active{background:url(../img/sea.png) no-repeat;}


/*锟斤拷锟斤拷锟斤拷锟斤拷锟�*/
.listmore2{height:44px;line-height:44px;color:#a0a0a0;padding:0 10px;border-bottom: 1px solid #dcdcdc;}
.listmore:last-child{border-bottom: none;}
.listmore2 .mid{ color:#251a16;}
.totalcon{ padding-top:20px; padding-bottom:20px;}
.totalleft{ padding-left:15px;}
.totalleft .left01{ margin-bottom:10px;}
.totalleft .left01 .num{ font-size:28px; color:#17a4f3;}
.totalleft .left02{ line-height:24px;}
.totalleft .left02 .num{ margin-left:10px;}
a.calcbtn{ display:block; background:#17a4f3; color:#fff !important; text-align:center; width:90%; height:35px; line-height:35px; border-radius:25px; margin:auto;}
